*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

thml, body, #root {
    height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
   
}

#root > main, #root > footer, #root > header {
    padding: 1rem;
}

#root > header {
    background-color: rgb(170, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    h1 {
        color: black;
    }
   	
}

#root > main{
    background-color: white;
    color: rgb(170, 36, 36);
    text-align: center;
    h2{
        color: rgb(170, 36, 36);
        font-size: 1.8rem;
    }
    h3{
        color: black;
        font-size: 1.5rem;
    }
    p{
        color: black;
        font-size: 1rem;
        font-weight: bold;
    }
}
.ItemListContainer{
    margin-left: 70%;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(170, 36, 36);
    color: white;
    text-align: center;
    height: auto;
    width: 30%;
    font-size: 20px;    
    
}

#root > .ItemCount{
    display: flex;
    flex-grow: 1;
    margin: 20px;
    flex-direction: column;
    align-items: center;
    .btn-less, .btn-plus{
        margin: 10px;
        padding: 2px 10px;
        font-style: bold;
    }
    .btn-count{
        margin: 10px;
        padding: 2px 25px;
        font-style: bold;
    }
    .btn-addCart{
        padding: 10px 30px;
        background-color: rgb(170, 36, 36);
        color: white;
        font-size: .9rem;
        font-style: bold;
        border-radius: 5px;}
    .btn-addCart:hover{
            background-color: rgb(200, 36, 36);
            color: black;
            font-style: bold;
    }
}    

#root > footer{
    background-color: rgb(139, 134, 134);
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 1rem;
    padding: 10px;
    font-weight: bold;
    &__link{    
        text-decoration: none;
        color: black;
        padding: 10px;
    }
    &__link:hover{
        background-color: rgb(170, 36, 36);
        color: white;
    }
}
.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.7);
}
.cardContainer{
    display: grid;
    margin: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.5rem;
}
.card{
    padding: 1rem;
    box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    border-radius: 3px;
    width:100%;
    text-align: center;
    img{
        margin-top: 2rem;
    }
    button{
        margin-top: 1rem;
        padding: .5rem;
        border: 1px solid black;
        border-radius: 5px;
        background-color: rgb(170, 36, 36);
        color: white;
        text-align: center;
        font-size: 1rem;
        &:hover{
            background-color: rgb(200, 36, 36);
            color: black;
            font-style: bold;
        }
    }
    &:hover{
        transform: scale(1.1);
    }   
}